<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>
    {% if search_index is defined and search_index is not none %}
    {% set breadcrumb_col_class = "col-12 col-sm-6 col-md-7 col-lg-8 col-xl-9" %}
    {% set search_col_class = "col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3" %}
    <script>
    search_index = {{ search_index | safe }}
    </script>
    <script src="/assets/react.production.min.v17.0.1.js"></script>
    <script src="/assets/react-dom.production.min.v17.0.1.js"></script>
    <script src="/assets/search.js"></script>
    {% else %}
    {% set breadcrumb_col_class = "col-12" %}
    {% endif %}
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap-4.6.0.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="icon" href="/img/docplaice.svg">
</head>
<body>
<div class="container-fluid">
    <div class="row top-row">
        <div class="{{ breadcrumb_col_class }} top">
            <img class="docplaice-icon" alt="docplaice icon" src="/img/docplaice.svg" title="docplaice - a place for flat file documentation">
            <div class="breadcrumbs">
                {% for breadcrumb in breadcrumbs %}
                <a href="{{ breadcrumb.url }}">{{ breadcrumb.title }}</a>
                {% endfor %}
            </div>
        </div>
        {% if search_col_class is defined %}
        <div class="{{ search_col_class }} top">
            <div class="search-form">
                <input id="search" type="text" placeholder="search" autocomplete="off">
                <div id="search-results"></div>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 sidebar-wrapper">
            <div class="sidebar-nav">
                <ul class="nav flex-column">
                    {% for nav_entry in side_bar_navigation %}
                    <li class="nav-item">
                        <a class="nav-link {% if nav_entry.current -%}current{%- endif %}" style="margin-left: {{ nav_entry.level * 15 }}px" href="{{ nav_entry.url }}">{{ nav_entry.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-7 col-lg-8 col-xl-9">
            <div id="content">
                {{ rendered_content | safe }}
            </div>
        </div>
    </div>
</div>
<footer class="fixed-bottom">
    <div class="container-fluid">
        <div class="col-12">Powered by <a href="https://github.com/enguerrand/docplaice">docplaice</a></div>
    </div>
</footer>
</body>
</html>
