
body {
    margin: 1em 0;
    color: {{ theme.bodyText}};
    background-color: {{ theme.background }};
}

#content {
    margin-top: 2em;
}

h1 {
    color: {{ theme.heading1 }};
}

.wiki-name {
    padding-right: 1em;
}

h2, h3, h4, h5, h6 {
    color: {{ theme.headings }};
}

a, a:hover {
    color: {{ theme.links }};
}

a:visited, a:visited:hover {
    color: {{ theme.linksVisited }};
}

img.docplaice-icon {
    margin: 15px 15px 15px 0;
    height: 40px;
}

div.sidebar-nav {
    margin-top: 20px;
}

div.sidebar-nav ul {
    padding: 0;
}

div.sidebar-nav ul li {
    padding: 4px 0;
    display: flex;
    margin: 3px;
}

div.sidebar-nav ul li a {
    padding: 10px;
    flex-grow: 1;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
}

div.sidebar-nav ul li a, div.sidebar-nav ul li a:visited {
    color: {{ theme.nav }};
    background: {{ theme.navBackground }};
}

div.sidebar-nav ul li a:hover {
    color: {{ theme.navHover }};
    background: {{ theme.navHoverBackground }};
    text-decoration: underline;
}

div.sidebar-nav ul li a.current {
    color: {{ theme.navCurrent }};
    background: {{ theme.navCurrentBackground }};
    font-weight: bold;
}

.top-row {
    border-bottom: {{ theme.borders }};
}

div.top {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}

div.sidebar-wrapper {
    padding-top: 10px;

}

div.breadcrumbs {
    margin: 3px;
}

div.breadcrumbs > a, div.breadcrumbs > a:visited, div.breadcrumbs > a:hover {
  color: {{ theme.breadcrumb }};
  background-color: {{ theme.breadcrumbBackground }};
  padding: 0.3em;
  margin: 5px 0;
  display: inline-block;
  font-weight: bold;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
}

.search-form {
    position: relative;
    width: 100%;
}

input#search {
    width: 100%;
    color: {{ theme.search }};
    border: {{ theme.borders }};
    background: {{ theme.searchBackground }};
    padding: 3px;
}

input#search:focus {
    border: {{ theme.borders }};
    outline: none !important;
}

#search-results {
    position: absolute;
    margin: 15px 0 0 0;
    left: 0;
    right: 0;
    top: 24px;
    background: white;
    z-index: 1100;
}

#search-results div.search-results-content {
    border: {{ theme.borders }};
}

#search-results a {
    display: block;
    padding: 3px;
    color: {{ theme.search }};
    background: {{ theme.searchBackground }};
}

#search-results a.selected {
    color: {{ theme.navCurrent }};
    background: {{ theme.navCurrentBackground }};
}

pre {
  padding: 15px;
}

p > code {
  padding: 10px;
}

pre, code {
  color: {{ theme.code }};
  background: {{ theme.codeBackground }};
  font-family: Monaco,Courier New,monospace,serif;
  font-size: 1em;
}

.section-toc {
  padding: 10px;
  -webkit-column-gap: 3em;
  -moz-column-gap: 3em;
  column-gap: 3em;
}

.section-toc > div {
  padding: 3px 0;
}

footer {
    display: flex;
    align-items: center;
    padding: 15px 0;
    text-align: right;
    font-size: 0.8em;
}

@media (min-width: 1800px) {
  .section-toc {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}

@media (min-width: 1400px) and (max-width: 1800px) {
  .section-toc {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

@media (min-width: 1000px) and (max-width: 1400px) {
  .section-toc {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 1000px) {
  .section-toc {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
