<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>{{ current_path }}</title>
  <link rel="stylesheet" type="text/css" href="/css/{{ theme }}.css">
</head>
<body>
  <div id="content">
      <h1>
          {% set tokens = [] %}
          {% for token in current_path_tokens %}
              {% if tokens.append(token ~ "/") %} {% endif %}
              <a href="{{ tokens|join("") }}">{{ token }}/</a>
          {% endfor %}
      </h1>
      <p>Subsections:</p>
      <ul>
          {% for child in subdirs %}
          <li><a href="{{ current_path }}{{ child }}">{{ child }}</a></li>
          {% endfor %}
      </ul>
      <p>Pages:</p>
      <ul>
          {% for child in pages %}
          <li><a href="{{ current_path }}{{ child }}">{{ child }}</a></li>
          {% endfor %}
      </ul>
  </div>
</body>
</html>
